@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
}

    <h3>This table represent all dogs that are currently being nurtured and all of them are looking for family to be a part of.</h3>
<br />

    <div class="row">
        <div class="col-sm">
           <a asp-controller="DogRecord" asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus-square"> </i> Add new dogs to the list
            </a>
        </div>
    </div>

<br />

<div class="table">
    <table class="table table-bordered table-striped" style="width:100%">
        <tr>
            <th>
                Id
            </th>
            
            <th>
                Name
            </th>
            <th>
                Age
            </th>
            <th>
                Dog Breed
            </th>
            <th>
                Date-Time Arrived
            </th>
            <th>

            </th>
            <th>

            </th>

        </tr>
        @foreach(var obj in Model)// asp-route zna id jer se popunjava red po red ove kolone
        {
            <tr>
                <td width="50%">
                    <div class="col-sm">
                        @obj.Id
                    </div>
                </td>
                
                
                <td width="50%">
                        <div class="col-sm">
                        @obj.Name
                    </div>
                </td>

                <td width="50%">
                    <div class="col-sm">
                        @obj.Age
                    </div>
                </td>

                <td width="50%">
                    <div class="col-sm">
                        @obj.Dog_Breed
                    </div>
                </td>

                <td width="50%">
                    <div class="col-sm">
                        @obj.DateArrived
                    </div>
                </td>

                <td width="50%">
                    <div class="col-sm">
                        <a asp-controller="DogRecord" asp-action="Edit" asp-route-Id="@obj.Id" class="btn btn-primary" >
                            <i class="bi bi-pencil-square"></i>Edit
                        </a>
                    </div>
                </td>

                <td width="50%">
                    <div class="col-sm">
                        <a asp-controller="DogRecord" asp-action="Delete" asp-route-Id="@obj.Id" class="btn btn-primary">
                            <i class="bi bi-trash"></i>Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>


